<header class="site-header">
  <nav class="nav-primary" style="background-color: #6a0dad;">
    <div class="nav-container">
      <a href="{{ '/' | relative_url }}" class="nav-link {% if page.url == '/' %}active{% endif %}">Home</a>
      <a href="{{ '/Research' | relative_url }}" class="nav-link {% if page.url == '/teaching/' %}active{% endif %}">Teaching</a>
      <a href="{{ '/Teaching' | relative_url }}" class="nav-link {% if page.url == '/research/' %}active{% endif %}">Research</a>
      <a href="{{ '/Others' | relative_url }}" class="nav-link {% if page.url == '/others/' %}active{% endif %}">Others</a>
    </div>
  </nav>
</header>